.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  border: 1px solid black;

  &__image {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.143);
  }

  &__image-column {
    align-self: center;
    display: flex;
    justify-content: center;
  }

  &__text-column {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      align-self: center;
      margin-top: 0;
      margin-bottom: 10px;
      font-weight: 800;
      font-size: 40px;
    }
  }

  &__text-area {
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.143);
    padding: 20px;
    margin-bottom: 0;
    margin-right: 30px;
  }

  &__text {
    margin-top: 0;
    padding: 5px;
    font-size: 30px;
  }
}

@media screen and (max-width: 952px) {
  .about {
    grid-template-columns: 1fr;

    &__text-area {
      padding: 10px;
      margin-bottom: 0;
      margin-right: 0px;
    }

    &__text {
      margin-top: 0;
      padding: 3px;
      font-size: 20px;
    }

    &__image {
      border: 0px;
    }
    
  }
}