.repairs {
  height: 100%;

  &__button {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
  }

  &__text-box {
    position: relative;
    border: 1.5px solid #000000;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.143);
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding-bottom: 40px;
  }

  &__header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  &__title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  &__header {
    font-size: 2em;
    font-weight: 800;
    margin-left: 10px;
    margin-top: 20px;
  }

  &__title {
    font-size: 1.2em;
    font-weight: 700;
    margin-left: 10px;
  }

  &__price {
    font-size: 1.5em;
    font-weight: 600;
    margin-right: 10px;
    margin-top: 10px;

    &-small {
      font-size: 1em;
      line-height: 1.5em;
      margin-right: 10px;
      margin-left: 10px;
      font-weight: 500;
    }
  }

  &__text {
    font-size: 1em;
    line-height: 1.5em;
    margin-right: 10px;
    margin-left: 10px;
  }

  &__disclaim {
    position: absolute;
    bottom: 0;
    font-size: 0.8em;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .repairs__text-area {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 952px) {
  .repairs__text-area {
    grid-template-columns: repeat(1, 1fr);
  }
}