.splash {

  &__image {
    overflow: auto;
    background-color: #cccccc;
    height: 880px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://res.cloudinary.com/dpzpnyfv2/image/upload/v1678488214/assets/karim-manjra-cW3nDFVpi10-unsplash_eeyjra.jpg');
  }

  &__button {
    position: absolute;
    top: 45%;
    left: 43%;

  }


  @media screen and (max-width: 953px) {

    &__button {
      top: 18%;
      left: 16%;
    }
  }
}