.upload {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;

  &__alert {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 20%;
    padding: 10px;
  }
  
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }

  &__button {
    margin-top: 10px;
  }

  &__add-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }

  @media (max-width: 924px) {
    grid-template-columns: 1fr;
  }
}
