.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid black;
  padding-top: 20px;
  margin-bottom: 30px;

  &__svg-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }

  &__svg {
    margin-right: 20px;
  }

  &__text {
    margin-right: 20px;
  }

  &__content {
    font-size: 20px;
  }

  @media screen and (max-width: 924px) {
    &__content {
      font-size: 12px;
    }

    &__svg-group {
      margin-right: 8px;
    }

    &__svg {
      margin-right: 8px;
    }

    &__text {
      margin-right: 8px;
    }
  }
}