.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid black;
  padding-top: 20px;
  margin-bottom: 30px;
  
  &__svg-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }

  &__svg {
    margin-right: 20px;
  }

  &__text {
    margin-right: 20px;
  }
}
