.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 150px;
  border-bottom: 1px solid black;

  &__logo {
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  &__link-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
  }

  &__burger {
    display: none;
  }

  @media screen and (max-width: 1010px) {
      &__link-group {
      display: none;
    }

    &__burger {
      display: block;
      margin-right: 30px;
    }
  }
}

.mantine-3y8yz3:hover {
  cursor: pointer;
}

// nav links
.mantine-1mji3m1 {
border-radius: 6px;
margin-right: 20px;
}

.mantine-1mji3m1:hover {
background-color: bisque;
}

// nav link text
.mantine-v2d0vk {
font-size: 30px;
font-weight: 800;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

// sidebar drawer
.mantine-ub9d20 {
  background-color: #fdfce6;
}

// sidebar title
.mantine-cx9mud {
  font-size: 40px;
  font-weight: 900;
}